@font-face {
    font-family: nasa;
    src: url(../fonts/Nasa.ttf);
}

body{
    min-height:100%;    
}

h1{
    font-size:34px;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family:'nasa'
}

#title{
    font-size:24px;
    font-weight: bold;
    margin: 0 0 10px;
    font-family: 'nasa';
}

#copy{
    margin: 10px 0 ;
}


.container{
    position: fixed;
    left: 0;
    top:0;
    height:100%;
    width: 60%;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;

      
}

.container__bg{
    position: fixed;
    background-image: url(../img/39608.jpg);
    left: 0;
    top:0;
    background-size: cover;
    height: 100%;
    width: 60%;
    z-index: -1;
}

.container___img{
    background-color:white;
    width: 60%;
    z-index: 2;
    overflow: auto;

}


.secao{
    position: absolute;
    right: 0;
    top:0;
    height:100vh;
    width: 40%;
    background-color:#1f0d30;
    color:white;
    line-height: 1.3em;
    text-align: center;
    box-sizing: border-box;
    overflow: auto;
 
}
.secao__info{
    padding: 10px;
}

.secao p{
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
}

#ibagem{
    max-width: 700px;
    max-height: 500px;
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s;
    
}

#ibagem:hover{
    transform: translate(8px,8px);
}

#frame{
    height:450px;
    width: 680px;
}

.secao__data{
    background-color:#1f0d30;
    padding:5px;
    height: fit-content;
    width: fit-content;
    margin: 5% auto 1%;
}

#botao{
    color: whitesmoke;
    width: 80px;
    height:35px;
    border-radius:4px;
    font-weight: bold;   
    margin-left: 15px;
    cursor: pointer;
    background-color: gray;
    border:2px solid black;

}

#botao:hover{
    border: 2px solid white;


}

#botao:active{
    transform: translate(2px,2px);

}

#campo-data{
    width:fit-content;
    height:30px;
    border-radius:4px;

}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-height: 550px;
    max-width: 700px;
  }
  

  /* Add Animation - Zoom in the Modal */

  
  .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

